.form {
  text-align: center;
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  margin-top: 10rem;
  width: 20rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.form h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form input {
  font-size: 1.3rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form button:hover,
.form button:active {
  background-color: #510674;
  border-color: #510674;
}

.form button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.form button.alternative:hover,
.form button.alternative:active {
  background-color: #ddb3f8;
}